<div class="popUp">
  <h1 mat-dialog-title>Modificati grupa: {{ groupeToModify.name }}</h1>
  <div mat-dialog-content class="editFields">
    <mat-form-field appearance="fill" class="groupName">
      <mat-label>Name: </mat-label>
      <input
        matInput
        [(ngModel)]="groupeToModify.name"
        (input)="onInputChange($event)"
      />
    </mat-form-field>
  </div>
  <div mat-dialog-actions class="submitButtons">
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button
      mat-button
      (click)="onOkClick()"
      cdkFocusInitial
      [disabled]="inputErrors"
    >
      Ok
    </button>
  </div>
</div>
