.container {
  margin-left: 25%;
  margin-right: 25%;
}
.groupButton {
  text-align: center;
  font-size: 24px;
  height: 80px;
  margin-bottom: 1rem;
}
.card-wrapper {
  display: grid;
}
.main {
  margin-top: 90px;
}
.informationDiv {
  font-size: 18px;
  margin-bottom: 1rem;
}
