.container {
  margin-top: 20px;
  margin-left: 20%;
  margin-right: 20%;
}
.tableHeaderForGroup {
  height: 30px;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}
table {
  width: 100%;
  text-align: center !important;
}
th.mat-header-cell {
  text-align: center !important;
  width: 150px;
}
