.mainDiv {
  height: 100%;
}
.titleDiv {
  width: 100%;
  height: 15%;
}
.searchBarDiv {
  width: 100%;
  height: 15%;
}

.foundElementsDiv {
  overflow: auto;
  width: 100%;
  height: 50%;
}
.actionsDiv {
  width: 100%;
  height: 20%;
}
.cancelButton {
  margin-left: 85%;
}

.groupDiv {
  width: 100%;
  height: 50px;
}

.groupButton {
  font-size: 18px;
  font-weight: bold;
  height: fit-content;
  width: 95%;
  text-align: left;
}
