<div
  fxLayoutAlign="center"
  fxFlexFill
  [ngClass]="showLoading == true ? 'main-div spinner_overlay' : 'main-div'"
>
  <mat-card fxFlex="28%">
    <mat-toolbar color="background">Login Page</mat-toolbar>
    <div *ngIf="!forgotPassword">
      <form fxLayoutAlign="stretch" fxLayout="column" class="login-form">
        <mat-form-field>
          <mat-placeholder [ngClass]="emailNotGood ? 'error-placeholder' : ''"
            >Email</mat-placeholder
          >
          <input [(ngModel)]="loginData.email" name="email" matInput />
        </mat-form-field>

        <mat-form-field>
          <mat-placeholder
            [ngClass]="passwordNotGood ? 'error-placeholder' : ''"
            >Password</mat-placeholder
          >
          <input
            [(ngModel)]="loginData.password"
            name="password"
            matInput
            type="password"
            class="asd"
          />
        </mat-form-field>

        <div *ngIf="errorMessage != ''">
          <mat-error>{{ errorMessage }}</mat-error>
        </div>

        <button
          (click)="loginUser()"
          mat-raised-button
          type="submit"
          [disabled]="showLoading"
        >
          Login
        </button>
      </form>

      <div class="forgor-password">
        <a (click)="onForgorPassworClick()">Forgot Password?</a>
      </div>
    </div>

    <!-- Show forgot passowrd message -->
    <div *ngIf="forgotPassword">
      <p class="login-form">
        In cazul in care parola a fost uitata, va rugam sa luati legatura cu
        secretariatul scolii. Va multumim!
      </p>
      <div class="forgor-password">
        <a (click)="onForgorPassworClick()">Inapoi la login</a>
      </div>
    </div>
  </mat-card>
</div>

<!-- show the spiner when the back end is called -->
<div *ngIf="showLoading" class="d-flex justify-content-center">
  <div class="spinner-border" role="status">
    <span class="sr-only" id="loading"></span>
  </div>
</div>
