.pdfDivElement {
  font-size: large;
  margin-left: 10px;
}
.pdfImage {
  height: 25px;
  width: 20px;
}
.container {
  margin-left: 25%;
  margin-right: 25%;
}

.divLeft {
  width: 80%;
  display: inline-block;
}
.divRight {
  width: 20%;
  display: inline-block;
  margin-right: 0;
  text-align: right;
}
.divMain {
  width: 100%;
  overflow: hidden;
}
.cardDiv {
  margin-top: 20px;
}

.main {
  margin-top: 70px;
}
.informationDiv {
  font-size: 18px;
  margin-bottom: 1rem;
}
.mat-background {
  background-color: #061045;
  color: #fff;
}
