<div class="textDiv">
  <h1 mat-dialog-title *ngIf="isStudentGroup">Stergere grupa</h1>

  <h1 mat-dialog-title *ngIf="isMaterial">Stergere material</h1>

  <div mat-dialog-content *ngIf="isStudentGroup">
    Doriti sa stergeti definitiv grupa {{ onjectReceived.name }} ?
  </div>

  <div mat-dialog-content *ngIf="isMaterial">
    Stergeti {{ onjectReceived.fileName.slice(0, 10) }}.. ?
  </div>
</div>

<div mat-dialog-actions class="actionsDiv">
  <button mat-button [mat-dialog-close]="false">NU</button>
  <button
    mat-raised-button
    [mat-dialog-close]="true"
    mat-raised-button
    color="warn"
  >
    DA
  </button>
</div>
