.container {
  margin-left: 25%;
  margin-right: 25%;
}
button {
  text-align: center;
  font-size: 24px;
  height: 80px;
  margin-top: 20px;
}
.card-wrapper {
  display: grid;
  height: fit-content;
}

.gradeCard {
  width: 100%;
  height: 50px;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  height: max-content;
}
.cardValue {
  width: 10%;
  display: inline-block;
  margin-right: 2%;
}
.cardDate {
  width: 88%;
  display: inline-block;
  float: right;
}
.grade {
  margin-top: 10px;
}
.redBackground {
  background-color: rgb(245, 171, 171);
}
.greenBackground {
  background-color: rgb(192, 245, 171);
}
.message {
  width: 100%;
  text-align: center;
}
