.container {
  margin-left: 25%;
  margin-right: 25%;
}
.eventCard {
  width: 100%;
  margin-top: 20px;
}
.todayBackground {
  background-color: rgb(208, 247, 208);
}
.mat-success {
  background-color: #34eb77;
  color: #fff;
}
.main {
  margin-top: 70px;
}
.informationDiv {
  font-size: 18px;
  width: 100%;
}
