.container {
  margin-left: 25%;
  margin-right: 25%;
}
.card-wrapper {
  display: grid;
}
.eventCard {
  width: 100%;
  margin-top: 20px;
}
.oldBackground {
  background-color: rgb(251, 230, 203);
}
.todayBackground {
  background-color: rgb(208, 247, 208);
}

.editDiv {
  width: 100%;
  margin-top: 30px;
}
.editButtons {
  float: right;
  margin-right: 23%;
}
.mat-success {
  background-color: #34eb77;
  color: #fff;
}

.divLeft {
  width: 70%;
  display: inline-block;
}
.divRight {
  width: 30%;
  display: inline-block;
  margin-right: 0;
  text-align: right;
}
.mat-delete {
  background-color: #eb3440;
  color: #fff;
}

.addElemet {
  float: right;
  margin-right: 10px;
}
