<app-menu></app-menu>

<p>{{ loggedUser?.userName }}</p>

<div class="container">
  <span [ngSwitch]="loggedUser?.userType">
    <span *ngSwitchCase="studentType" class="card-wrapper">
      <button mat-raised-button routerLink="/studentCourses">Cursuri</button>
      <button mat-raised-button routerLink="/grades">Note</button>
      <button mat-raised-button routerLink="/calendar">Calendar</button>
    </span>
    <span *ngSwitchCase="adminType" class="card-wrapper">
      <button mat-raised-button routerLink="/professors">Profesori</button>
      <button mat-raised-button routerLink="/studentGroups">Grupe</button>
      <button mat-raised-button routerLink="/students">Elevi</button>
      <span *ngSwitchCase="professorType"></span>
    </span>
    <span *ngSwitchCase="professorType" class="card-wrapper">
      <button
        mat-raised-button
        [routerLink]="['/professorCourses', { editingCourses: true }]"
      >
        Cursuri
      </button>
      <button mat-raised-button routerLink="/professorCourses">Catalog</button>
      <button
        mat-raised-button
        [routerLink]="['/professorCourses', { editingEvents: true }]"
      >
        Calendar
      </button>
    </span>
  </span>
</div>
