.menuButton {
  margin: 1rem;
  text-align: center;
  padding: 60px 0;
  font-size: 24px;
}

.card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-top: 20px;
}

.container {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 70px;
}

.eventsContainer {
  margin-left: 25%;
  margin-right: 25%;
}
.event-card-wrapper {
  display: grid;
}
.eventCard {
  width: 100%;
  margin-bottom: 20px;
}
.todayBackground {
  background-color: rgb(208, 247, 208);
}
.seeMoreButton {
  float: center;
}
